<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group text-center">Sign Up</div>
                        <div class="form-group ">
                            <label for="username">User name:</label>
                            <input type="text" name="username" class="form-control" [(ngModel)]="user.username" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" name="password" [(ngModel)]="user.password" class="form-control" placeholder="••••••••">
                        </div>
                        <div class="row justify-content-center">
                            <button type="button" (click)="register()" class="btn btn-info">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
